#form-body {
  background: url("../../assets/img/background/hello.jpg") repeat-y;
  background-size: cover;
  height: 800px;
}

.formdiv {
  padding-bottom: 10px;
  margin-left: 11%;
  margin-right: 14%;
  border-radius: 10.2px;
  box-shadow: 0 0 16px rgba(81, 203, 238, 1);
  width: 80%;
  height: 90%;
}

.btn-form {
  padding: 10px 10px;
  border: 2px solid #305718;
  color: #322928;
  background: rgba(164, 224, 135, 0.21);
  text-decoration: none;
  transition: background 0.5s ease-in-out;
  border-radius: 10px;
}

.btn-form:hover, .btn-form:focus, .btn-form:active, .btn-form.active {
  color: #fff;
  border-color: #305718;
  background-color: #6edf2a;
}

@media (max-width: 768px) {
  #formdiv {
    margin-left: 10%;
    margin-right: 5%;
  }
}

@media (max-width: 768px) {
  .btn-form {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .row-form [class^="col-form"] {
    margin-left: 0;
    margin-right: 0;
  }
}

#row-form, #col-form, #div-form {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 12px;
}

.form-container {
  height: 78%;
}

.form-btn, .text-center {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

@media (max-width: 1200px) and (min-width: 320px) {
  .form-btn {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .btn-form, .form-btn {
    margin-bottom: 10px;
  }
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-section {
  margin-top: 260px;
}

#foot-form {
  margin-bottom: 6px;
  margin-top: 68px;
}

<<<<<<< HEAD
.form-guide {
  font-size: small;
  padding-top: 40px;
}

@media screen and (max-width: 575px) {
  .form-guide {
    font-size: small;
    margin-left: 30px;
    padding-top: 100px;
  }
}

.form-heading {
  font-size: 22px;
  height: 16.3911px;
  margin-left: 25px;
  margin-top: 30px;
  padding-top: 20px;
  color: #16E2F5;
  font-size: 40px;
  text-shadow: 2px 2px 4px #3b4343;
}

.form-group {
  margin-top: -226px;
}

.form-required {
  color: inherit;
  font-size: small;
}

#form-text {
  color: inherit;
  margin-left: 30px;
}

.form-required {
  margin-top: -10px;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: -5px;
}

=======
>>>>>>> origin/main
